@model int

<div class=" btn-cms-sklep-cms ">

    <a asp-action="Index" class="btn-floating btn-small waves-effect waves-light blue darken-1" id="backToListitem "><i class="material-icons right">arrow_back</i></a>
    <a class="btn-floating btn-small waves-effect waves-light red darken-1 modal-trigger" href="#modalDeleteAlert">  <i class="material-icons right">delete_forever</i></a>



</div>
