<div class=" btn-cms-sklep-cms ">
    <a asp-action="Index" class="btn-floating btn-small waves-effect waves-light blue darken-1" id="backToListitem "><i class="material-icons right">arrow_back</i></a>
    <button class="btn-floating btn-small waves-effect waves-light green darken-1" type="submit" name="action"><i class="material-icons right">add</i></button>
</div>
