@model int

<div class=" btn-cms-sklep-cms ">

    <a asp-action="Index" class="btn-floating btn-small waves-effect waves-light blue darken-1" id="backToListitem "><i class="material-icons right">arrow_back</i></a>
    <a asp-action="Edit" asp-route-id="@Model" class="btn-floating btn-small waves-effect waves-light green darken-1"><i class="material-icons right">edit</i>
    </a>

</div>
