@model SklepKomputerowy.Data.Data.Sklep.Zamowienie

@{
    ViewData["Title"] = "Kup";
    Layout = "~/Views/Shared/_LayoutSklep.cshtml";
}

}
<div class="row  ">
    <div class="flex-box-order-sacesfull-information">
        <h6 class="card-panel teal green darken-1 white-text  header-backend-section-title">Dziękujemy za złożenie zamówinia </h6>
    </div>
  
</div>
<style>
    .flex-box-order-sacesfull-information{
        display:flex;
        align-items:center;
        justify-content:center;
        min-height:100%;
    }
</style>