@model SklepKomputerowy.Data.Data.Sklep.Zamowienie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zamowienie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdZamowienia" />
            <div class="form-group">
                <label asp-for="DataZamowienia" class="control-label"></label>
                <input asp-for="DataZamowienia" class="form-control" />
                <span asp-validation-for="DataZamowienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miasto" class="control-label"></label>
                <input asp-for="Miasto" class="form-control" />
                <span asp-validation-for="Miasto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerDomu" class="control-label"></label>
                <input asp-for="NumerDomu" class="form-control" />
                <span asp-validation-for="NumerDomu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodPocztowy" class="control-label"></label>
                <input asp-for="KodPocztowy" class="form-control" />
                <span asp-validation-for="KodPocztowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerTelefonu" class="control-label"></label>
                <input asp-for="NumerTelefonu" class="form-control" />
                <span asp-validation-for="NumerTelefonu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Razem" class="control-label"></label>
                <input asp-for="Razem" class="form-control" />
                <span asp-validation-for="Razem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDKraju" class="control-label"></label>
                <input asp-for="IDKraju" class="form-control" />
                <span asp-validation-for="IDKraju" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

