<div id="modalDeleteAlert" class="modal">
    <div class="modal-content">
        <h6>Jesteś pewien?</h6>
    </div>
    <div class="modal-footer">
        <form asp-action="Delete">
            <button class="modal-close waves-effect waves-light btn green darken-1" type="submit" name="action"> TAK</button>
            <a href="#!" class="modal-close waves-effect waves-light btn red darken-1 white-text">Nie</a>
        </form>
    </div>
</div>
