@model SklepKomputerowy.Data.Data.Sklep.Kategoria
@{
    ViewData["Title"] = "Details";
}
<div class="row  ">
    <h6 class="card-panel teal brown darken-4 white-text  header-backend-section-title">Usuń @Model.Nazwa</h6>
</div>
<form asp-action="Delete">
    <partial name="Przyciski/_PrzyciskiUsunPowrot" model="@Model.IdKategorii" />
</form>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input asp-for="Nazwa"  readonly />
                <label asp-for="Nazwa" ></label>
            </div>
            <div class="input-field col s12">
                <input asp-for="Opis"  readonly />
                <label asp-for="Opis" ></label>
            </div>
        </div>
    </form>
</div>
<!-- Modal Structure -->
<partial name="Modals/_UsunAlert" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
