@model SklepKomputerowy.Data.Data.Sklep.Zdjecia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zdjecia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idZdjecia" />
            <div class="form-group">
                <label asp-for="ZdjecieURL" ></label>
                <input asp-for="ZdjecieURL"  />
                <span asp-validation-for="ZdjecieURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProduktu" ></label>
                <input asp-for="idProduktu"  />
                <span asp-validation-for="idProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

